server {
    listen 80;

    location /videos {
        root /var/www;
        secure_link $arg_md5,$arg_expires;
        secure_link_md5 "$secure_link_expires$uri$remote_addr ##URI_SECRETS##";

        if ($secure_link = "") { return 403; }
        if ($secure_link = "0") { return 410; }
    }

}